################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/utn-WebApi-c2-g2/v17/.suo
/.vs/slnx.sqlite
/CalculatorAPI/.vs/Calculator/DesignTimeBuild/.dtbcache.v2
/CalculatorAPI/.vs/CalculatorAPI/config/applicationhost.config
/CalculatorAPI/.vs/CalculatorAPI/DesignTimeBuild/.dtbcache.v2
/CalculatorAPI/.vs/CalculatorAPI/v17/.futdcache.v1
/CalculatorAPI/.vs/CalculatorAPI/v17/.suo
/CalculatorAPI/.vs/CalculatorAPI/project-colors.json
/CalculatorAPI/.vs/ProyectoCalculadora/v17/.suo
/CalculatorAPI/.vs/slnx.sqlite
/CalculatorAPI/.vs/VSWorkspaceState.json
/CalculatorAPI/Api/obj/Debug/net5.0/ref/Api.dll
/CalculatorAPI/Api/obj/Debug/net5.0/staticwebassets
/CalculatorAPI/Api/obj/Debug/net5.0
/CalculatorAPI/Api/obj/Release/net5.0
/CalculatorAPI/Api/obj
/CalculatorAPI/Business/obj/Debug/net5.0
/CalculatorAPI/Business/obj/Release/net5.0
/CalculatorAPI/Business/obj
/CalculatorWeb/.vs/CalculatorWeb
/CalculatorWeb/obj/Debug/net5.0
/CalculatorWeb/obj/Release/net5.0
/CalculatorWeb/obj
/CalculatorWeb/bin/Debug/net5.0
/ProyectoCalculadora/Api/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ProyectoCalculadora/Api/obj/Debug/net5.0/Api.csproj.AssemblyReference.cache
/ProyectoCalculadora/Api/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ProyectoCalculadora/Business/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/ProyectoCalculadora/Business/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/.vs/utn-WebApi-c2-g2/v16/.suo
/CalculatorAPI/.vs/CalculatorAPI/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite-journal
/CalculatorAPI/Business/bin/Debug/net5.0/ref/Business.dll
/CalculatorAPI/Business/bin/Debug/net5.0/Business.deps.json
/CalculatorAPI/Business/bin/Debug/net5.0/Business.dll
/CalculatorAPI/Business/bin/Debug/net5.0/Business.pdb
/CalculatorAPI/Api/bin/Debug/net5.0
/CalculatorAPI/Business/bin/Debug/net5.0
/TicTacToeBusiness/obj/Debug/net5.0
/TicTacToeBusiness/obj
/TicTacToeBusiness/.vs/TicTacToeBusiness/v16
/TicTacToeBusiness/bin/Debug/net5.0
/TicTacToeBusiness/.vs/TicTacToe/v16
/API/obj
/TicTacToeAPI/API/obj
/TicTacToeAPI/Business/.vs/TicTacToe/v16
/TicTacToeAPI/Business/bin/Debug/net5.0
/TicTacToeAPI/Business/obj
/TicTacToeAPI/Business/.vs/TicTacToe/DesignTimeBuild/.dtbcache.v2
/TicTacToeAPI/Test/obj
/TicTacToeAPI/API/bin/Debug/net5.0
/TicTacToeAPI/Test/bin/Debug/net5.0
